@import '../../../assets/shared';

.items {
  @include flex-col(2rem);
  padding: 1.2rem 1.5rem;
}

.summary {
  @include flex-col(1rem);
  padding: 1.2rem 1.5rem;

  div {
    @include flex-row(null, center, space-between);
    font-weight: 600;
  }
}

.btn {
  padding: 1.2rem 1.5rem;
}

@media (max-width: 600px) {
  .items, .summary, .btn {
    padding: 1.2rem 1.2rem;
  }
}
