@import '../../assets/shared';

.main {
  @include flex-col(null, null, center);
}

.content {
  width: min(94%, 1500px);
  margin-inline: auto;
}

.info {
  @include flex-col(2rem);
  font-size: 1.1rem;
  text-align: center;

  a {
    color: $clr-primary;
    font-weight: 700;
    transition: opacity 0.3s;

    &:hover, &:focus, &:active {
      opacity: 0.9;
    }
  }
}