@import '../../assets/shared';

.info-bar {
  @include flex-row(null, center, space-between);
  padding: 12px 3vw;
  background: $clr-primary;
  color: $clr-neutral-light;
}

.socials {
  @include flex-row(16px);
}

.info {
  @include flex-row(24px);
  font-size: 0.8rem;

  > strong {
    text-transform: uppercase;
  }
}

@media (max-width: 600px) {
  .info-bar {
    justify-content: center;
  }
  
  .socials {
    display: none;
  }

  .info {
    gap: 8px;
  }
}
