@import '../../assets/shared';

.info-bar {
  background: $clr-primary;
}

.content {
  @include flex-row(null, center, space-between);
  padding-block: 12px;
  color: $clr-neutral-light;
  width: min(94%, 1500px);
  margin-inline: auto;
}

.socials {
  @include flex-row(1rem);
}

.info {
  @include flex-row(1.5rem);
  font-size: 0.8rem;

  > strong {
    text-transform: uppercase;
  }
}

@media (max-width: 600px) {
  .content {
    justify-content: center;
  }
  
  .socials {
    display: none;
  }

  .info {
    gap: 0.5rem;
  }
}
