@import '../../assets/shared';

.cart {
  width: 0;
  height: 100%;
  background: $clr-neutral-light;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: width 0.5s;
  z-index: 1;

  > div {
    min-width: 450px;
  }

  label {
    display: none;
  }
}

.cart_open {
  width: 480px;
}

.header {
  @include flex-row(null, center, space-between);
  padding: 1.2rem 1.5rem;
  position: relative;
  box-shadow: 0 0 1px rgba(221, 95, 95, 0.3);

  div:nth-child(3) {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .cart {  
    > div {
      min-width: 250px;
    }
  }

  .cart_open {
    width: 80%;
  }

  .header {
    padding: 1.2rem 1.2rem;
  }
}
