@import '../../assets/shared';

.content {
  width: min(94%, 1500px);
  margin-inline: auto;
}

.header {
  margin-top: 3rem;
}

.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
  width: 100%;
  margin-bottom: 3rem;

  // Make grid track height same as width
  &::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  > *:first-child{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

@media (max-width: 600px) {
  .header {
    margin-top: 2.5rem;
  }

  .collections {
    grid-template-columns: 1fr;
    margin-bottom: 2.5rem;
  }
}
