@import '../../assets/shared';

.about {
  @include flex-col(null, center);
}

.banner {
  @include flex-col(3rem, center, center);
  min-height: 75vh;
  width: 100%;
  padding-block: 3rem;
  padding-inline: 3%;
  background: linear-gradient(to bottom, lighten($clr-primary, 8%) 0%, $clr-primary 100%);
  color: $clr-neutral-light;
  text-align: center;

  h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  div {
    @include flex-col(1rem);
  }

  strong {
    font-size: 1.4rem;
  }

  p {
    max-width: 60ch;
    font-size: 1.15rem;
    line-height: 2.2rem;
  }
}

.info {
  @include flex-col(2.5rem, center);
  padding-block: 3rem;
  text-align: center;

  h2 {
    font-size: 2rem;
  }

  p {
    max-width: 40ch;
    font-size: 1.15rem;
    text-align: center;
  }
}

.imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min(94%, 1500px);
  margin-inline: auto;
  gap: 1rem;

  img {
    width: 100%;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.description {
  @include flex-col(2rem, center);
  margin-block: 3rem;
  text-align: center;
  font-size: 1.1rem;
  width: min(65%, 975px);
  margin-inline: auto;

  strong {
    color: $clr-primary;
  }
}

.shop {
  @include flex-col(3rem, center);
  margin-bottom: 3rem;

  img {
    width: 80px;
  }
}

@media (max-width: 600px) {
  .banner {
    padding-block: 2.5rem;
    gap: 2.5rem;
  }

  .info {
    width: 94%;
    margin-inline: auto;
    padding-block: 2.5rem;
    gap: 1.5rem;
  }

  .description {
    width: 94%;
    margin-block: 2.5rem;
    gap: 1.5rem;
  }

  .shop {
    gap: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .imgs {
    grid-template-columns: 1fr 1fr;

    img:nth-child(2) {
      display: none;
    }
  }
}
