@import '../../assets/shared';

.main {
  @include flex-col(null, null, center)
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: min(94%, 1500px);
  margin-inline: auto;
  margin-block: 1.6rem;
}

.img {
  @include flex-row(null, center, center);

  img {
    width: 90%;
  }
}

.info {
  @include flex-col(2rem, null, space-between);
  height: 100%;
  padding: 1.4rem;

  > div {
    @include flex-col(1rem);
  }
}

.collection {
  font-size: 1.3rem;
  font-weight: 600;
  color: $clr-primary;
}

.name {
  font-size: 2rem;
}

.price {
  font-size: 1.15rem;
  font-weight: 500;
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: 1fr;
  }

  .info {
    > div {
      text-align: center;
    }
  }
}
